<h1>Filmi na voljo</h1>

  <table cellpadding="0" cellspacing="0" border="1">
  <tr>
     <th>Id</th>
     <th>Naslov</th>
     <th>Režija</th>
     <th>Ocena</th>
     <th>Distributer</th>
     <th>Dolžina filma</th>
     <th>Leto</th>
  </tr>
  %for (id, naslov, rezija, ocena, distributer, dolzina, leto) in film:
    <tr>
       <td>{{id}}</td>
       <td>{{naslov}}</td>
       <td>{{rezija}}</td>
       <td>{{ocena}}</td>
       <td>{{distributer}}</td>
       <td>{{dolzina}}</td>
       <td>{{leto}}</td>
    </tr>
  %end
  </table>

