<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>Cineplexx kinematografi</title>
	

	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"></script>
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
	<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
	<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
	<script src="https://use.fontawesome.com/releases/v5.0.8/js/all.js"></script>

	<link rel="stylesheet" href="{{ROOT}}static/css/bootstrap.min.css">
	<link href="{{ROOT}}static/style.css" rel="stylesheet">
</head>
<body>

<!-- Navigation -->
<nav class="navbar navbar-expand-md navbar-light bg-light sticky-top">
<div class="container-fluid">
	<a class="navbar-brand" href="#"><img src="{{ROOT}}static/img/logo6.PNG"></a>
	<button class="navbar-toggler" type="button" data-toggle="collapse"
	data-target="#navbarResponsive"><span class="navbar-toggler-icon"></span></button>

	<div class="collapse navbar-collapse" id="navbarResponsive">
		<ul class="navbar-nav ml-auto">
			<li class="nav-item active">
				<a class="nav-link" href="{{ROOT}}zacetna_stran">Domov</a>
			</li>
			
			<li class="nav-item">
				<a class="nav-link" href="{{ROOT}}film">Filmi</a>
			</li>

			<li class="nav-item">
				<a class="nav-link" href="{{ROOT}}prijava">Prijava</a>
			</li>
		</ul>
	</div>

</div>
</nav>

<!--- Image Slider -->
<div id="slides" class="carousel slide" data-ride="carousel">
	<ul class="carousel-indicators">
		<li data-target="#slides" data-slide-to="0" class="active"></li>
		<li data-target="#slides" data-slide-to="1"></li>
		<li data-target="#slides" data-slide-to="2"></li>
	</ul>

<div class="carousel-inner">
	<div class="carousel-item active">
		<img src="{{ROOT}}static/img/ozadje7.png">
		<div class="carousel-caption">
			<h1 class="display-2">Cineplexx</h1>
			<h3>Kinematografi</h3>
			<a href="{{ROOT}}vrti">
			<button type="button" class="btn btn-outline-light btn-lg">SPORED</button>
			</a>
		</div>
	</div>
	<div class="carousel-item">
		<img src="{{ROOT}}static/img/ozadje3.PNG">
	</div>
	<div class="carousel-item">
		<img src="{{ROOT}}static/img/ozadje5.PNG">
	</div>
</div>


</div>


<!--- Two Column Section - text na eni strani, slika drugje-->
<div class="container-fluid padding">
<div class="row padding">
	<div class="col-md-12 col-lg-6">
		<h2>Naši kinematografi</h2>
		<p>Vsi kinoti v lasti Cineplexxa.</p>
		<br>
		<a href="{{ROOT}}kinoti" class="btn btn-primary">Podatki</a>
	</div>
	<div class="col-lg-6">
		<img src="{{ROOT}}static/img/kinoti.PNG" class="image-fluid">
	</div>
</div>
</div>




<!--- Meet the team -->
<div class="container-fluid padding">
<div class="row welcome text-center">
	<div class="col-12">
		<h1 class="display-4">Ponudba</h1>
	</div>
	<hr>
</div>
</div>

<!--- Cards -->
<div class="container-fluid padding">
<div class="row padding">
	<div class="col-md-4">
		<div class="card">
			<img class="card-img-top" src="{{ROOT}}static/img/zanr.png">
			<div class="card-body">
				<h4 class="card-title">Žanri filmov</h4>
				<p class="card-text">Filmi po žanrih.</p>
				<a href="{{ROOT}}zanr" class="btn btn-outline-secondary">Podatki</a>
			</div>
		</div>
	</div>
			
	<div class="col-md-4">
		<div class="card">
			<img class="card-img-top" src="{{ROOT}}static/img/prigrizki.PNG">
			<div class="card-body">
				<h4 class="card-title">Prigrizki</h4>
				<p class="card-text">Prigrizki, ki so na voljo v kinematografih.</p>
				<a href="{{ROOT}}na_voljo" class="btn btn-outline-secondary">Podatki</a>
			</div>
		</div>
	</div>

	<div class="col-md-4">
		<div class="card">
			<img class="card-img-top" src="{{ROOT}}static/img/filmi.PNG">
			<div class="card-body">
				<h4 class="card-title">Filmi</h4>
				<p class="card-text">Poišči filme po žanrih.</p>
				<a href="{{ROOT}}ima_zanr" class="btn btn-outline-secondary">Podatki</a>
			</div>
		</div>
	</div>
	</div>
</div>

</div>


<!--- Connect -->
<div class="container-fluid padding">
	<div class="row text-center padding">
		<div class="col-12">
			<h2>Socialna omrežja</h2>
		</div>
		<div class="col-12 social padding">
			<a href="https://www.facebook.com/"><i class="fab fa-facebook"></i></a>
			<a href="https://twitter.com/"><i class="fab fa-twitter"></i></a>
			<a href="https://myaccount.google.com/"><i class="fab fa-google-plus-g"></i></a>
			<a href="https://www.instagram.com/"><i class="fab fa-instagram"></i></a>
			<a href="https://www.youtube.com/"><i class="fab fa-youtube"></i></a>
		</div>
	</div>
</div>


	
<!--- Footer -->
<footer>
	<div class="container-fluid padding">
		<div class="row text-center">
			<div class="col-md-4">
				<h3>CINEPLEXX</h3>
				<hr class="light">
				<p>040-555-555</p>
				<p>cineplexx@gmail.com</p>
				<p>Novo mesto, Slovenija</p>
			</div>
			
			<div class="col-md-4">
				<hr class="light">
				<h5>Odpiralni čas</h5>
				<hr class="light">
				<p>Pon - Čet: 8:00 -22:00</p>
				<p>Petek: 8:00 -24:00</p>
				<p>Sobota, Nedelja: zaprto</p>
			</div>

			<div class="col-md-4">
				<hr class="light">
				<h5>Naslov</h5>
				<hr class="light">
				<p>Kettejeva ulica 5</p>
				<p>8000 Novo mesto</p>
				<p>Slovenija</p>
				
			</div>
			<div class="col-12">
				<hr class="light">
				<h5>&copy; cineplexx.com</h5>
			</div>
	</div></div>
</footer>




</body>
</html>





<!-- End View in Browser: Drew's #1 Trending YouTube Tutorial -->
