%rebase('osnova.html', naslov='Katere filme vrtimo')

<p>
  <a href="{{ROOT}}filmi2/9">Dobri fimi</a>
</p>
 
<p>
  <a href="{{ROOT}}filmi1/5">Slabi filmi</a>
</p>

  <table cellpadding="0" cellspacing="0" border="1">
  <tr>
     <th>Ob kateri uri</th>
     <th>Tehnologija predvajanja</th>
     <th>Kateri film</th>
     <th>Kateri kino</th>
  </tr>
  %for (cas, tehnologija, film_id, kino_ime) in vrti:
    <tr>
       <td>{{cas}}</td>
       <td>{{tehnologija}}</td>
       <td>{{film_id}}</td>
       <td>{{kino_ime}}</td>
    </tr>
  %end
  </table>